<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jourwon.spring.boot.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.jourwon.spring.boot.entity.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="mobile_phone_number" property="mobilePhoneNumber"/>
        <result column="email" property="email"/>
        <result column="delete_state" property="deleteState"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
      user_id, username, password, mobile_phone_number, email, delete_state, create_time,
      update_time
    </sql>

    <select id="getByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId}
    </select>

    <select id="listUsers" resultType="com.jourwon.spring.boot.entity.User">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user
        where user_id = #{userId}
    </delete>

    <insert id="insert" parameterType="com.jourwon.spring.boot.entity.User">
        insert into user (user_id, username, password,
          mobile_phone_number, email, delete_state,
          create_time, update_time)
        values (#{userId}, #{username}, #{password},
          #{mobilePhoneNumber}, #{email}, #{deleteState},
          #{createTime}, #{updateTime})
    </insert>

    <insert id="insertSelective" parameterType="com.jourwon.spring.boot.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="mobilePhoneNumber != null">
                mobile_phone_number,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="deleteState != null">
                delete_state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="mobilePhoneNumber != null">
                #{mobilePhoneNumber},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="deleteState != null">
                #{deleteState},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.jourwon.spring.boot.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="mobilePhoneNumber != null">
                mobile_phone_number = #{mobilePhoneNumber},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="deleteState != null">
                delete_state = #{deleteState},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.jourwon.spring.boot.entity.User">
        update user
        set username = #{username},
          password = #{password},
          mobile_phone_number = #{mobilePhoneNumber},
          email = #{email},
          delete_state = #{deleteState},
          create_time = #{createTime},
          update_time = #{updateTime}
        where user_id = #{userId}
    </update>

</mapper>